// ────────────── Input Configuration ──────────────
prefer-no-csd   
input {
		disable-power-key-handling
    keyboard {
        xkb {
            layout "us" 
			}
    }

    touchpad {
		//	dwt
		accel-speed 0.3
        natural-scroll
    }

focus-follows-mouse
workspace-auto-back-and-forth
}

// ────────────── Output Configuration ──────────────
output "BOE NE160WUM-NX2 Unknown" {
    mode "1920x1200@165.015"
    scale 1
    transform "normal"
	focus-at-startup
}

// ────────────── Startup Applications ──────────────
    spawn-at-startup "niri" "msg" "action" "focus-workspace" "system"
    spawn-at-startup "mako" // Mako
	spawn-at-startup "/usr/lib/polkit-kde-authentication-agent-1" "&"
	spawn-at-startup "xwayland-satellite"
	spawn-at-startup "otd-daemon" "&"
	spawn-at-startup "swww-daemon"
//    spawn-at-startup "~/Desktop/meow/colors/pywal16"
	spawn-at-startup "/lien/Desktop/meow/qof/wallpaper-per-workspace" "/lien/Desktop/conesque/workspaces" "&"
	spawn-at-startup "brightnessctl" "set" "100%"
    spawn-at-startup "sunsetr" "-b"
	spawn-at-startup "niri-float-sticky"	
	spawn-at-startup "/lien/Desktop/meow/niri/custom/niri-scripts/niri-sidebar-auto-reorder.sh"
	spawn-at-startup "quickshell" "--config" "test-bar"


// ────────────── Layout Settings ──────────────
    layout {
        gaps 5 
		center-focused-column "always"
		background-color "transparent"

        preset-column-widths {
            proportion 0.33333
            proportion 0.5
            proportion 0.66667
        }
		default-column-width {proportion 0.5; }

        focus-ring {
		    off
            width 3
            active-color "#00ac89"
            inactive-color "#505050"
        }

        shadow {
            softness 30
            spread 5
            offset x=0 y=5
            color "#0007"
        }

        struts {
		left -10
        right -10
        top 5
        bottom 5
		}
    }

// ────────────── Animation Settings ──────────────
    animations {
        workspace-switch {
            spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
        }
        window-open {
            duration-ms 50
            curve "ease-out-quad"
        }
        window-close {
            duration-ms 50
            curve "ease-out-cubic"
        }
        horizontal-view-movement {
            spring damping-ratio=1.0 stiffness=900 epsilon=0.0001
        }
        window-movement {
            spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
        }
        window-resize {
            spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
        }
        config-notification-open-close {
            spring damping-ratio=0.6 stiffness=1200 epsilon=0.001
        }
        screenshot-ui-open {
            duration-ms 50
            curve "ease-out-quad"
        }
        overview-open-close {
            spring damping-ratio=1.0 stiffness=900 epsilon=0.0001
        }
    }

// ────────────── Window Rules ──────────────
		window-rule {
				geometry-corner-radius 10
				clip-to-geometry true	
				opacity 0.5
		}
		window-rule {
				match is-focused=true

				opacity 0.98
		}
		window-rule {
				match app-id=r#"Nsxiv"# 
				open-floating true
				default-column-width { proportion 0.3; }
				default-window-height { fixed 1000; }
				opacity 1.0
		}
		layer-rule {
				match namespace="^swww-daemon$"
				place-within-backdrop true
		}

workspace "system"
		window-rule {
				match app-id=r#"librewolf"#
				open-on-workspace "system"
				default-column-width { proportion 0.5; }
		}
				
		window-rule {
				match title="Picture-in-Picture"
				open-floating true
				open-focused false
				default-column-width { fixed 378; }
				default-window-height { fixed 234; }
				default-floating-position x=50 y=100 relative-to="bottom-left"
		}

		window-rule {
				match app-id=r#"kitty"# 
				open-floating true
				default-column-display "tabbed"
				default-column-width { proportion 0.45; }
				default-window-height { proportion 0.55; }
				default-floating-position x=20 y=20 relative-to="bottom-right"
		}
		window-rule {
				match app-id=r#"nemo"# 
				open-floating true
				default-column-width { fixed 770; }
				default-window-height { fixed 565; }
				default-floating-position x=80 y=230 relative-to="left"
		}

workspace "art" {
		layout {
        gaps 3   
  		center-focused-column "never" 		
		background-color "transparent"

        preset-column-widths {
            proportion 0.33333
            proportion 0.5
            proportion 0.66667
        }
		default-column-width {proportion 0.5; }

        focus-ring {
		    off
            width 3
            active-color "#00ac89"
            inactive-color "#505050"
        }
        shadow {
            softness 10
            spread 5
            offset x=0 y=5
            color "#0007"
        }
        struts {
		left 0
        right 0
        top -20
        bottom 0
		}
		}
}
		window-rule {
				match app-id=r#"krita"#
//				open-on-workspace "art"
				default-column-width { proportion 1.0; }
				opacity 1.0
		}
		window-rule {
				match app-id=r#"PureRef"# 
				open-floating true
//				open-on-workspace "art"
				default-column-width { proportion 0.25; }
				default-window-height { fixed 500; }
				default-floating-position x=150 y=70 relative-to="top-right"
				opacity 1.0

		}
		window-rule {
				open-fullscreen false
				tiled-state true
				match app-id=r#"clipstudiopaint.exe"#
				open-on-workspace "art"
				default-column-width { proportion 1.0; }
				default-window-height { proportion 1.0; }
				opacity 1.0
		}
		window-rule {
				match app-id=r#"clipstudio.exe"# 
				open-on-workspace "art"
				default-column-width { proportion 0.5; }
				default-window-height { proportion 1.0; }
				opacity 1.0
		}


workspace "chill" {
			layout {
        gaps 3 
		center-focused-column "always"
		background-color "transparent"

        preset-column-widths {
            proportion 0.33333
            proportion 0.5
            proportion 0.66667
        }
		default-column-width {proportion 0.5; }

        focus-ring {
		    off
            width 3
            active-color "#00ac89"
            inactive-color "#505050"
        }

        shadow {
            softness 10
            spread 5
            offset x=0 y=5
            color "#0007"
        }

        struts {}
    }		
}

		window-rule {
				match app-id=r#"FreeTube"# 
				open-floating true
//				open-on-workspace "chill"
				default-column-width { proportion 0.30; }
				default-window-height { fixed 532; }
				default-floating-position x=50 y=50 relative-to="top-right"
		}
		window-rule {
				match app-id=r#"obsidian"# 
				open-floating true
				open-focused true
//				open-on-workspace "chill"
				default-column-width { proportion 0.4; }
				default-window-height { proportion 0.7; }
				default-floating-position x=50 y=10 relative-to="right"
		}

// games
		window-rule {
				match app-id=r#"genshinimpact.exe"#
				open-on-workspace "chill"
				default-column-width { proportion 1.0; }
		}
		window-rule {
				match app-id=r#"moe.launcher.an-anime-game-launcher"#
				open-on-workspace "chill"
				default-column-width { proportion 0.5; }
		}
		
		window-rule {
				match app-id=r#"moe.launcher.the-honkers-railway-launcher"#
				open-on-workspace "chill"
				default-column-width { proportion 0.5; }
		}
		window-rule {
				match app-id=r#"starrail.exe"#
				open-on-workspace "chill"
				default-column-width { proportion 1.0; }
		}
		window-rule {
				match app-id=r#"moe.launcher.sleepy-launcher"#
				open-on-workspace "chill"
				default-column-width { proportion 0.5; }
		}
		window-rule {
				match app-id=r#"zenlesszonezero.exe"#
				open-on-workspace "chill"
				default-column-width { proportion 1.0; }
		}
		window-rule {
				match app-id=r#"heroic"#
				open-on-workspace "chill"
				default-column-width { proportion 0.5; }
		}
		window-rule {
				match app-id=r#"steam_app_0"#
				open-on-workspace "chill"
				default-column-width { proportion 1.0; }
		}
		window-rule {
				match app-id=r#"steam"#
				open-on-workspace "chill"
				default-column-width { proportion 0.5; }
		}
		window-rule {
				match title="Reverse: 1999"
				open-on-workspace "chill"
				default-column-width { proportion 1.0; }
		}



		gestures {
			hot-corners {
					off
			}
	}
recent-windows {
    // off
    debounce-ms 750

    open-delay-ms 20

    highlight {
        active-color "#999999ff"
        urgent-color "#ff9999ff"
        padding 30
        corner-radius 0
    }

    previews {
        max-height 480
        max-scale 0.5
    }

    binds {
		Mod+Tab         { next-window; }
//        Mod+Shift+Tab   { previous-window; }
        Mod+grave       { next-window     filter="app-id"; }
 //       Mod+Shift+grave { previous-window filter="app-id"; }
    }
}
// ────────────── Keybindings ──────────────

screenshot-path "~/Desktop/haven/screenshot/%Y-%m-%d.png"
binds {
    MOD+SHIFT+ESCAPE                     { show-hotkey-overlay; }

    // ─── Applications ───
	MOD+E	{ spawn "nemo"; }
	MOD+D	repeat=false	hotkey-overlay-title="app launcher: " { spawn "rofi" "-modi" "'drun,ssh'" "-show" "drun"; }
	
	MOD+T	{ spawn "kitty" "--working-directory" "/"; }
	MOD+N	{ spawn "kitty" "--working-directory" "/" "-e" "nvim"; }
    MOD+W 	{ spawn "kitty" "-e" "basalt"; }	
	
	MOD+I	repeat=false	{spawn "~/Desktop/meow/colors/walmenu.sh"; }
	// MOD+C { spawn "dex" "~/.local/share/applications/csp--CLIPStudioPaint--1774022681.052287.desktop"; }
	MOD+R hotkey-overlay-title=" puring your ref " { spawn "PureRef"; }
    
	MOD+B	{ spawn "flatpak" "run" "io.gitlab.librewolf-community"; }   
//  MOD+M repeat=false	{ spawn "dex" "/usr/share/applications/spotify-adblock.desktop"; }
	
	CTRL+SHIFT+1 repeat=false { spawn "anime-game-launcher"; }
	CTRL+SHIFT+2 repeat=false { spawn "honkers-railway-launcher"; }
	CTRL+SHIFT+3 repeat=false { spawn "sleepy-launcher"; }
	CTRL+SHIFT+4 repeat=false { spawn "heroic"; }

    MOD+A { spawn "/lien/Desktop/meow/niri/custom/niri-scripts/niri-floating-sidebar.sh" "toggle"; }
    MOD+S { spawn "/lien/Desktop/meow/niri/custom/niri-scripts/niri-floating-sidebar.sh" "hide";}
    MOD+SHIFT+A { spawn "/lien/Desktop/meow/niri/custom/niri-scripts/niri-floating-sidebar.sh" "flip";}
	Mod+G { spawn "/lien/Desktop/meow/niri/custom/niri-scripts/auto-layout.sh";}
	Mod+M { spawn "/lien/Desktop/meow/niri/custom/niri-scripts/set-master.sh";}
	// ─── Window Movement and Focus ───
    MOD+X                               { close-window; }

    MOD+H                               { focus-column-left; }
    MOD+L                               { focus-column-right; }
    MOD+K                               { focus-window-up; }
    MOD+J                               { focus-window-down; }
	
    CTRL+H              { move-column-left; }
    CTRL+L              { move-column-right; }
	CTRL+K              { move-window-up; }
    CTRL+J              { move-window-down; }

    MOD+5               { focus-column-first; }
    MOD+6               { focus-column-last; }
    CTRL+5				{ move-column-to-first; }
    CTRL+6              { move-column-to-last; }

    // ─── Workspace Switching ───

    MOD+1                               { focus-workspace 1; }
    MOD+2                               { focus-workspace 2; }
    MOD+3                               { focus-workspace 3; }
    MOD+4                               { focus-workspace 4; }
    //MOD+5                               { focus-workspace 5; }
	//MOD+6                               { focus-workspace 6; }
    //MOD+7                               { focus-workspace 7; }
    //MOD+8                               { focus-workspace 8; }
	//MOD+9                               { focus-workspace 9; }

    CTRL+1                          { move-column-to-workspace 1; }
    CTRL+2                          { move-column-to-workspace 2; }
    CTRL+3                          { move-column-to-workspace 3; }
    CTRL+4                          { move-column-to-workspace 4; }
    //CTRL+5                          { move-column-to-workspace 5; }
    //CTRL+6                          { move-column-to-workspace 6; }
    //CTRL+7                          { move-column-to-workspace 7; }
    //CTRL+8                          { move-column-to-workspace 8; }
    //CTRL+9                          { move-column-to-workspace 9; }
	
	// MOD+TAB                             { focus-workspace-previous; }

    // ─── Layout Controls ───
    MOD+SHIFT+F			{ expand-column-to-available-width; }
	MOD+C                           { center-column; }
   	MOD+CTRL+L						{ set-column-width "+10%"; }
    MOD+CTRL+H						{ set-column-width "-10%"; }
	MOD+CTRL+J						{ set-window-height "-10%"; }
    MOD+CTRL+K						{ set-window-height "+10%"; }

    // ─── Modes ───
	MOD+V			{ toggle-window-floating; }
    MOD+F			{ fullscreen-window; }
	MOD+SHIFT+T		{ toggle-column-tabbed-display; }
	MOD+P 			{ spawn "niri-float-sticky" "-ipc" "toggle_sticky"; }
    // ─── Screenshots ───
	PRINT 			{ screenshot; }
	MOD+PRINT       { screenshot-window; }
	MOD+CTRL+PRINT	{ screenshot-screen; }

    // ─── Emergency Escape Key ───
    // MOD+ESCAPE                          allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // ─── Exit / Power ───
    CTRL+ALT+DELETE                     { quit; }
	MOD+ESCAPE                         { power-off-monitors; }
	MOD+Q                               repeat=false { toggle-overview; }

    // ─── Audio Controls ───
    // The allow-when-locked=true property makes them work even when the session is locked.
    XF86AudioRaiseVolume                allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"; }
    XF86AudioLowerVolume                allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"; }
    XF86AudioMute                       allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute                    allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }
    XF86AudioNext                       allow-when-locked=true { spawn "playerctl" "next"; }
    XF86AudioPause                      allow-when-locked=true { spawn "playerctl" "play-pause"; }
    XF86AudioPlay                       allow-when-locked=true { spawn "playerctl" "play-pause"; }
    XF86AudioPrev                       allow-when-locked=true { spawn "playerctl" "previous"; }

}


// ────────────── Environment Variables ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous#environment

    environment {
        DISPLAY ":1"
        ELECTRON_OZONE_PLATFORM_HINT "auto"
//        QT_QPA_PLATFORM "wayland"
        QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
        XDG_SESSION_TYPE "wayland"
        XDG_CURRENT_DESKTOP "niri"
    }

    hotkey-overlay {
        skip-at-startup
    }
