// ────────────── Keybindings ──────────────

screenshot-path "~/Desktop/haven/screenshot/%Y-%m-%d.png"
binds {
    Mod+Shift+Escape                     { show-hotkey-overlay; }
	
	F1 { spawn "chamel" "toggle"; }
	F2 { spawn "chamel" "undo"; }
	F3 { spawn "chamel" "clear"; }
    F4 { spawn "kitty" "-e" "peaclock"; }

	// ─── Applications ───
	Mod+E	{ spawn "nemo"; }
	Mod+D	repeat=false	hotkey-overlay-title="app launcher: " { spawn "rofi" "-modi" "drun" "-show" "drun" ; }
	
	Mod+T	{ spawn "kitty" "--working-directory" "/"; }
	Mod+N	{ spawn "kitty" "--working-directory" "/" "-e" "nvim"; }
	Mod+I	repeat=false	{spawn "~/Desktop/meow/colors/walmenu.sh"; }
	// MOD+C { spawn "dex" "~/.local/share/applications/csp--CLIPStudioPaint--1774022681.052287.desktop"; }
	Mod+R hotkey-overlay-title=" puring your ref " { spawn "PureRef"; }
    
	Mod+B	{ spawn "flatpak" "run" "io.gitlab.librewolf-community"; }   
//  MOD+M repeat=false	{ spawn "dex" "/usr/share/applications/spotify-adblock.desktop"; }
    Ctrl+Shift+1 { spawn "obsidian";}
	Ctrl+Shift+2 { spawn "kitty" "-e" "basalt"; }
	Ctrl+Shift+3 { spawn "freetube"; }
	Ctrl+Shift+4 { spawn "pavucontrol"; }

    Mod+S { spawn "/lien/Desktop/meow/niri/custom/niri-scripts/niri-floating-sidebar.sh" "toggle"; }
    Mod+W { spawn "/lien/Desktop/meow/niri/custom/niri-scripts/niri-floating-sidebar.sh" "hide";}
	Mod+A { spawn "/lien/Desktop/meow/niri/custom/niri-scripts/auto-layout.sh";}
	Mod+M { spawn "/lien/Desktop/meow/niri/custom/niri-scripts/set-master.sh";}
	// ─── Window Movement and Focus ───
    Mod+X                               { close-window; }
	Mod+O { toggle-window-rule-opacity; }
    Mod+H { focus-column-left; }
    Mod+L { focus-column-right; }
	Mod+K                               { focus-window-up; }
  	Mod+J                               { focus-window-down; }
	
    CTRL+H              { move-column-left; }
    CTRL+L              { move-column-right; }
	CTRL+K              { move-window-up; }
	CTRL+J              { move-window-down; }

//    MOD+5               { focus-column-first; }
//    MOD+6               { focus-column-last; }
//    CTRL+5				{ move-column-to-first; }
//    CTRL+6              { move-column-to-last; }

    // ─── Workspace Switching ───

    Mod+1                               { focus-workspace 1; }
	Mod+2                               { focus-workspace 2; }
	Mod+3                               { focus-workspace 3; }
    Mod+4                               { focus-workspace 4; }
	Mod+9								{ focus-workspace-down; }
    Mod+0								{ focus-workspace-up; }
    //MOD+8                               { focus-workspace 8; }
	//MOD+9                               { focus-workspace 9; }

    Ctrl+1                          { move-column-to-workspace 1; }
    Ctrl+2                          { move-column-to-workspace 2; }
    Ctrl+3                          { move-column-to-workspace 3; }
    Ctrl+4                          { move-column-to-workspace 4; }
    Ctrl+9                          { move-column-to-workspace-down; }
    Ctrl+0                          { move-column-to-workspace-up; }
	//CTRL+8                          { move-column-to-workspace 8; }
    //CTRL+9                          { move-column-to-workspace 9; }
	
	// MOD+TAB                             { focus-workspace-previous; }

    // ─── Layout Controls ───
	Mod+C                         	{ center-column; }
	Mod+Shift+C                     { center-visible-columns; }
   	Mod+Ctrl+L						{ set-column-width "+10%"; }
    Mod+Ctrl+H						{ set-column-width "-10%"; }
	Mod+Ctrl+K						{ set-window-height "-10%"; }
    Mod+Ctrl+J						{ set-window-height "+10%"; }

    // ─── Modes ───
//	Mod+V							{ toggle-window-floating; }
    Mod+Shift+F						{ fullscreen-window; }
    Mod+F						    { expand-column-to-available-width; }
	Mod+Shift+T						{ toggle-column-tabbed-display; }
	Mod+P 							{ spawn "niri-float-sticky" "-ipc" "toggle_sticky"; }
    // ─── Screenshots ───
	Print 							{ screenshot; }
	Mod+Print       				{ screenshot-window; }
	Mod+Ctrl+Print					{ screenshot-screen; }

    // ─── Emergency Escape Key ───
    // MOD+ESCAPE                          allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // ─── Exit / Power ───
    Ctrl+Alt+Delete                 { quit; }
	Mod+Escape                      { power-off-monitors; }
	Mod+Q              repeat=false { toggle-overview; }

    // ─── Audio Controls ───
    // The allow-when-locked=true property makes them work even when the session is locked.
    XF86AudioRaiseVolume                allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1+"; }
    XF86AudioLowerVolume                allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.1-"; }
    XF86AudioMute                       allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute                    allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }
    XF86AudioNext                       allow-when-locked=true { spawn "playerctl" "next"; }
    XF86AudioPause                      allow-when-locked=true { spawn "playerctl" "play-pause"; }
    XF86AudioPlay                       allow-when-locked=true { spawn "playerctl" "play-pause"; }
    XF86AudioPrev                       allow-when-locked=true { spawn "playerctl" "previous"; }

}


