// ────────────── Startup Applications ────────────── 
    spawn-at-startup "niri" "msg" "action" "focus-workspace" "system"
    spawn-at-startup "mako" // Mako
	spawn-at-startup "/usr/lib/polkit-kde-authentication-agent-1" "&"
	spawn-at-startup "xwayland-satellite"
	spawn-at-startup "otd-daemon" "&"
	spawn-at-startup "chameleos" "--stroke-width" "4" "--stroke-color" "#D6362B" "&"
	spawn-at-startup "swww-daemon"
//    spawn-at-startup "~/Desktop/meow/colors/pywal16"
	spawn-at-startup "/lien/Desktop/meow/qof/wallpaper-per-workspace" "/lien/Desktop/conesque/workspaces" "&"
	spawn-at-startup "brightnessctl" "set" "100%"
    spawn-at-startup "sunsetr" "-b"
	spawn-at-startup "niri-float-sticky"	
	spawn-at-startup "/lien/Desktop/meow/niri/custom/niri-scripts/niri-sidebar-auto-reorder.sh"
	spawn-at-startup "quickshell" "--config" "test-bar"
