// ────────────── Window Rules ──────────────
include "study.kdl"
include "system.kdl"
include "chill.kdl"
workspace "scratch"

	blur {
		on
		passes 1
		offset 6
		noise 0.07
	}
		window-rule {
				geometry-corner-radius 10
				clip-to-geometry true	
				opacity 0.5
				background-effect {
						blur true
						saturation 2
				}
		}
		window-rule {
				match is-focused=true
				opacity 0.87
				background-effect {
						blur false
						saturation 1
						
				}
		}

		layer-rule {
				match namespace="^awww-daemon$"
				place-within-backdrop true
		}

		layer-rule {
				match namespace="wallpaper"
		}
		window-rule {
				match app-id=r#"^special*"#
				default-column-width { proportion 0.5; }
				open-on-workspace "scratch"
		}
		window-rule {
				match app-id=r#"Nsxiv"# 
				match app-id=r#"obsidian"# 
				match title="Picture-in-Picture"

				open-floating true
				default-column-width { }
				default-window-height { }
				background-effect {
						blur false 
						saturation 0
				}
				opacity 1.0
		}


